In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
!pip3 install numpy
!pip3 install pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.9/site-packages (1.20.2)
WARNING: You are using pip version 21.1.3; however, version 22.0.3 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Requirement already satisfied: pandas in /usr/local/lib/python3.9/site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/site-packages (from pandas) (1.20.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: You are using pip version 21.1.3; however, version 22.0.3 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [1]:
import numpy as np
import pandas as pd
from csv import DictReader, reader
from datetime import date

In [2]:
#read Open_Streets_Locations.csv
raw_df = pd.read_csv('./../output/NYPD_Shooting_Data_Recent.csv')

In [3]:
raw_df

,OCCUR_DATE,BORO,LOCATION_DESC,STATISTICAL_MURDER_FLAG,Latitude,Longitude
0,07/01/2018,BROOKLYN,NaN,False,40.680334,-73.938425
1,07/01/2018,QUEENS,NaN,False,40.682524,-73.790892
2,07/02/2018,QUEENS,MULTI DWELL - PUBLIC HOUS,False,40.754974,-73.946355
3,07/03/2018,BROOKLYN,MULTI DWELL - PUBLIC HOUS,False,40.666745,-73.906167
4,07/03/2018,BROOKLYN,MULTI DWELL - APT BUILD,False,40.661096,-73.919705
...,...,...,...,...,...,...
5438,12/31/2021,STATEN ISLAND,PVT HOUSE,True,40.612935,-74.065276
5439,12/31/2021,BROOKLYN,MULTI DWELL - PUBLIC HOUS,False,40.656906,-73.885091
5440,12/31/2021,BROOKLYN,NaN,False,40.645972,-73.959696
5441,12/31/2021,BRONX,MULTI DWELL - PUBLIC HOUS,False,40.812642,-73.915096
5442,12/31/2021,MANHATTAN,MULTI DWELL - PUBLIC HOUS,False,40.801227,-73.931599

In [5]:
!pip3 install uszipcode

Requirement already satisfied: uszipcode in /usr/local/lib/python3.9/site-packages (1.0.1)
Requirement already satisfied: haversine>=2.5.0 in /usr/local/lib/python3.9/site-packages (from uszipcode) (2.5.1)
Requirement already satisfied: atomicwrites in /usr/local/lib/python3.9/site-packages (from uszipcode) (1.4.0)
Requirement already satisfied: pathlib-mate in /usr/local/lib/python3.9/site-packages (from uszipcode) (1.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.9/site-packages (from uszipcode) (2.25.1)
Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.9/site-packages (from uszipcode) (0.18.0)
Requirement already satisfied: sqlalchemy-mate>=1.4.28.3 in /usr/local/lib/python3.9/site-packages (from uszipcode) (1.4.28.3)
Requirement already satisfied: attrs in /usr/local/lib/python3.9/site-packages (from uszipcode) (21.2.0)
Requirement already satisfied: SQLAlchemy>=1.4.0 in /usr/local/lib/python3.9/site-packages (from uszipcode) (1.4.31)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/site-packages (from SQLAlchemy>=1.4.0->uszipcode) (1.1.2)
Requirement already satisfied: prettytable in /usr/local/lib/python3.9/site-packages (from sqlalchemy-mate>=1.4.28.3->uszipcode) (3.1.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/site-packages (from pathlib-mate->uszipcode) (1.15.0)
Requirement already satisfied: autopep8 in /usr/local/lib/python3.9/site-packages (from pathlib-mate->uszipcode) (1.6.0)
Requirement already satisfied: toml in /usr/local/lib/python3.9/site-packages (from autopep8->pathlib-mate->uszipcode) (0.10.2)
Requirement already satisfied: pycodestyle>=2.8.0 in /usr/local/lib/python3.9/site-packages (from autopep8->pathlib-mate->uszipcode) (2.8.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/site-packages (from prettytable->sqlalchemy-mate>=1.4.28.3->uszipcode) (0.2.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/site-packages (from requests->uszipcode) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/site-packages (from requests->uszipcode) (1.25.11)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/site-packages (from requests->uszipcode) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/site-packages (from requests->uszipcode) (2.10)
WARNING: You are using pip version 21.1.3; however, version 22.0.3 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [7]:
from uszipcode import SearchEngine
search = SearchEngine()

In [8]:
for i in range(len(raw_df)):
    result = search.by_coordinates(raw_df.loc[i, 'Latitude'], raw_df.loc[i, 'Longitude'], radius=3)
    raw_df.loc[i, 'zipcode'] = result[0].zipcode

In [39]:
raw_df

,OCCUR_DATE,BORO,LOCATION_DESC,STATISTICAL_MURDER_FLAG,Latitude,Longitude,zipcode
0,07/01/2018,BROOKLYN,NaN,False,40.680334,-73.938425,11216
1,07/01/2018,QUEENS,NaN,False,40.682524,-73.790892,11436
2,07/02/2018,QUEENS,MULTI DWELL - PUBLIC HOUS,False,40.754974,-73.946355,10044
3,07/03/2018,BROOKLYN,MULTI DWELL - PUBLIC HOUS,False,40.666745,-73.906167,11212
4,07/03/2018,BROOKLYN,MULTI DWELL - APT BUILD,False,40.661096,-73.919705,11212
...,...,...,...,...,...,...,...
5438,12/31/2021,STATEN ISLAND,PVT HOUSE,True,40.612935,-74.065276,10305
5439,12/31/2021,BROOKLYN,MULTI DWELL - PUBLIC HOUS,False,40.656906,-73.885091,11239
5440,12/31/2021,BROOKLYN,NaN,False,40.645972,-73.959696,11226
5441,12/31/2021,BRONX,MULTI DWELL - PUBLIC HOUS,False,40.812642,-73.915096,10454
5442,12/31/2021,MANHATTAN,MULTI DWELL - PUBLIC HOUS,False,40.801227,-73.931599,10035

In [40]:
raw_df.to_csv('../../output/Processed-shootings-zipcodes.csv', index=False)